.rankingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
        text-decoration: none;
    }

    .ranking {
        display: flex;
        flex-direction: column;
    }
}