.rankingScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;

    .buttons {
        display: flex;
        flex-direction: column;
        .link {
            text-decoration: none;
        }
    }

    .ranking {
        display: flex;
        flex-direction: column;
        color: blanchedalmond;
    }
}