.card {
    .front {
        background-color: #DEFDE0;
        align-items: center;
        border: black 1px solid;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2px;
        padding: 4px;
        width: 125px;
        height: 125px;    
    
        img {
            border-bottom: black 1px solid;
            margin-bottom: 8px;
        }
    }

    .back {
        background-color: blanchedalmond;
        border: black 1px solid;
        border-radius: 8px;
        display: flex;
        margin: 2px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 125px;
        height: 125px;    
    }
}
