.gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;

    .gameBoard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
    }

    .scoreboard {
        width: 16%;
    }
}
